@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 4%; /*                  #0D0D0D      Основной цвет фона */
    --foreground: 0, 0%, 100%; /*                #FFFFFF      Основной цвет текста */
    --card: 0, 0%, 7%; /*                        #121212      Цвет фона карточек */
    --card-foreground: 0, 0%, 100%; /*           #FFFFFF      Цвет текста на карточках */
    --popover: 0, 0%, 7%; /*                     #121212      Цвет фона всплывающих окон */
    --popover-foreground: 0, 0%, 100%; /*        #FFFFFF      Цвет текста во всплывающих окнах */
    --primary: 339, 100%, 46%; /*                #EB0052      Основной цвет для акцентных элементов */
    --primary-foreground: 0, 0%, 100%; /*        #FFFFFF      Цвет текста на акцентных элементах */
    --primary-light: 339, 100%, 58%; /*          #FF2873      Цвет для приглушенных элементов */
    --primary-light-foreground: 0, 0%, 100%; /*  #FFFFFF      Цвет текста на приглушенных элементах */
    --secondary: 345, 100%, 63%; /*              #FF4473      Вторичный цвет для менее важных элементов */
    --secondary-foreground: 0, 0%, 100%; /*      #FFFFFF      Цвет текста на вторичных элементах */
    --muted: 0, 0%, 11%; /*                      #CCCCCC      Цвет для приглушенных элементов */
    --muted-foreground:  0, 0%, 80%; /*          #CCCCCC      Цвет текста на приглушенных элементах */
    --accent: 339, 100%, 46%; /*                 #EB0052      Цвет для акцентных элементов */
    --accent-foreground: 0, 0%, 100%; /*         #FFFFFF      Цвет текста на акцентных элементах */
    --destructive-foreground: 0, 0%, 100%; /*    #FFFFFF      Цвет текста на элементах, предупреждающих об опасности */
    --border: 0, 0%, 11%; /*                     #1C1C1C      Цвет границ */
    --input: 0, 0%, 7%; /*                       #121212      Цвет фона для полей ввода */
    --ring: 0, 0%, 11%; /*                       #1C1C1C      Цвет обводки для фокусированных элементов */

    --destructive: 0 62.8% 30.6%; /*Цвет для элементов, предупреждающих об опасности */
    --chart-1: 220 70% 50%; /* Цвет для первой серии данных в графиках */
    --chart-2: 160 60% 45%; /* Цвет для второй серии данных в графиках */
    --chart-3: 30 80% 55%; /* Цвет для третьей серии данных в графиках */
    --chart-4: 280 65% 60%; /* Цвет для четвертой серии данных в графиках */
    --chart-5: 340 75% 55%; /* Цвет для пятой серии данных в графиках */
  }
}